* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  background: url("https://source.unsplash.com/random/1280×720/?landscape");
  background-position: center;
  background-size: fill;
  /* background-size: stretch; */
  /* background-repeat: no-repeat; */
}

.container {
  margin: auto;
  width: 100%;
  max-width: 350px;
  padding: 0.5em;
  display: flex;
  flex-flow: column wrap;
  border-radius: 20px;
  background-color: rgba(10,10,30, 0.6);
  color: white;
}

/*Search Container*/
.search {
  /* width: 30%; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  /* background-color: yellow;
  border: 1px solid black; */
}
.search-input-label {
  width: 80%;
  margin: 0 0.8em;
  /* max-width: 90%; */
}
#search-bar {
  /* width: %; */
  width: 87%;
  /* max-width: 80%; */
  text-align: left;
  font-size: 15px;
  padding: 0 20px;
  height: 3em;
  border-radius: 50px;
  /* border: 1.5px solid black; */
  border: none;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}
.search-btn {
  height: 3em;
  width: auto;
  border: none;
  border-radius: 50%;

  background-color: red;
}
.search-btn:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: bisque;
}
.search-btn-icon {
  height: 1.5em;
  width: auto;
  padding: 10px;
}

/*Weather container*/
.weather-container {
  text-align: left;
  margin-top: 0.5em;
  padding: 0.5em;
  line-height: 1.3em;
}
/* .loading{
  visibility: none;
}
.loading::after{
  content: "Loading...";
} */
.weather-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-top: 0.5em;
  line-height: 1.4em;
  font-size: 13px;
}
img.weather-icon {
  height: 5.5em;
  /* margin-left: 0.5em; */
}
.weather-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.temp {
  margin-bottom: 0.8em;
  margin-top: 0.5em;
}

/*media Queries*/
@media (max-width: 426px) {
  .search {
    flex-flow: column;
  }
  .search-input-label {
    width: 100%;
  }
  #search-bar {
    border-radius: 7px;
  }
  .search-btn {
    width: 99%;
    border-radius: 4px;
    margin-top: 10px;
  }
}
